* {
  box-sizing:  border-box;
  padding:              0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}


body {
  position:            relative;
  height:                  100%;
  width:                   100%;
  background-color: transparent;
  background-image:     white;
  justify-content: space-evenly;
  font-family:       'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.section{
  display: inline;
  height:    auto;
  overflow:hidden;
  margin:     0px;
  transition:0.5s;
}


nav {
border-width:     15px;
border-radius:      0%;
border-color:  white;  
width:            100%;
background:transparent;
height:           80px;
display:        inline;
color:         black;
justify-content:  left;
align-items:    center;
position:       sticky;
top:                 0;
}  

embed{
  overflow: hidden;
  width:       10%;
}


#Userauth {
  display:    flex;
}

#chatParent {
  white-space: pre-wrap;
}

#Key{
  display: block;
}

#kdis{
  overflow: hidden;
  font-size: 10px;
}

#Search {
  display: block;
}

#Message{
  display: block;
}

#Contacts{
  display: block;
}

#Privadd{
  display: block;
}

#messageArea {
  display:    grid;
  position: sticky;
  top:         0px;
}

#Chat{
  display: block;
}

footer{
  height:                                                100px;
  background-color:                       rgb(255, 255, 255);
  color:                                             #000000;
  display:                                                flex;
  align-items:                                          center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;} 

#ip {
  height:                   100%;
  width:                    100%;
  background-color:  transparent;
  color:               #000000;} 

embed::-webkit-scrollbar{
  display: hidden;
}
  
#Scroller{
  display:inline;
}
